
@{
    ViewBag.Title = "TrangChinh";
}


<p><h2>Quản Lý Điện Thoại Di Động</h2></p>
<ul>
    <li><a href="@Url.Action("DanhSachLoaiSP","Home")">Danh Sách Loại Sản Phẩm</a></li>
    <li><a href="@Url.Action("DanhSachSanPham","Home")">Hiển Thị Sản Phẩm</a></li>
    <li><a href="@Url.Action("SanPhamTheoLoai","Home")">Danh Sách Loại</a></li>
    <li><a href="@Url.Action("TimKiemSanPhamTheoChu","Home")">Tìm Kiếm Sản Phẩm Theo Chữ</a></li>
    <li><a href="@Url.Action("TimKiemSanPhamTheoLoai","Home")">Tìm Kiếm Sản Phẩm Theo Loại</a></li>
</ul>

